# Python cache files
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache

# Virtual environment
venv/
.venv/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Local development files
.env
*.log

#documents
docs/
tests/